* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and(min-width: 64em);

@import 'breakpoint';
@import 'base';

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.table__title,
.figure__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-transform: capitalize;
}
.table {
  margin: 2rem 0;
  width: 75%;
  @include breakpoint($small-only) {
    width: 100%;
  }
  height: auto;
}
.table__caption p,
.figure__caption p {
  font-style: italic;
}

.figure {
  margin: 2rem 0;
}

.figure img {
  width: 75%;
  @include breakpoint($small-only) {
    width: 100%;
  }
  height: auto;
}
